################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sources/.vs/NLog.CodErr.Target/v16
/Sources/NLog.CodErr.Target/obj
/Examples/.vs/NLog.CodErr.Target.Examples
/Examples/NLog.CodErr.Target.Examples.Runner/bin/Debug
/Examples/NLog.CodErr.Target.Examples.Runner/obj
/Sources/.vs/NLog.CodErr.Target/DesignTimeBuild
/Sources/NLog.CodErr.Target/bin/Debug
/Sources/NLog.CodErr.Target/bin/Release
